/*Import Sass*/
/*Variables Colores*/
/*Tipografias*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/*Variables Fuentes*/
/*Nav y Transicion Botones*/
.link--nav {
  /*Transicion*/
  transition: background-color 1s, border-radius 1s;
}
.link--nav:hover {
  background-color: #ffe2ce;
  border-radius: 10px;
}

/*Main Index y Empresas*/
/*Titulo*/
/*Extend*/
/*Cards*/
.btn__card {
  background: #C85000;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  transition: background 1s, color 1s;
}
.btn__card:hover {
  background: #fa6400;
  color: #FFFFFF;
}

.titulos__cards, .titulos--ayuda, .link--nav {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.card--box {
  height: 100%;
  background: #FFFFFF;
}

.card-img-top {
  height: 220px;
  object-fit: cover;
}

/*Seccion Ayuda*/
.seccion__ayuda {
  background-color: #F5EEEA;
}

.subtitulos__seccionayuda {
  font-family: "Inter", sans-serif;
  color: #6A6A6A;
  font-weight: 400;
}

/*Estilo Botones y Transicion*/
.btn__seccionayuda {
  background: #C85000;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  width: 100%;
  max-width: 350px;
  transition: background 1s, color 1s;
}
.btn__seccionayuda:hover {
  background: #fa6400;
  color: #FFFFFF;
}

/*Mixin*/
/*Footer*/
.titulos__footer, .preguntas--ayuda, h1, h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.texto__footer, .respuestas--ayuda, .texto__cards {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

/*Pagina Ayuda*/
/*Textos en Ayuda*/
.link--ayuda {
  color: #C85000;
  text-decoration: none;
  transition: color 1s;
}
.link--ayuda:hover {
  color: #fa6400;
}

/*Fondo Titulo Ayuda*/
.fondo--tituloayuda {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../recursos/banner_ayuda.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.fondo--tituloayuda:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0.5;
  z-index: 0;
}
.fondo--tituloayuda h2 {
  z-index: 1;
}

/*Pagina de Contacto*/
/*Fondo Header Contacto y Animacion*/
.fondo--contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  background: linear-gradient(268deg, #ffc371, #ad2931, #ffc371);
  background-size: 400% 400%;
  -webkit-animation: animationfondoformulario 20s ease-in-out infinite;
  -moz-animation: Animationfondoformulario 20s ease-in-out infinite;
  animation: Animationfondoformulario 20s ease-in-out infinite;
}

nav {
  z-index: 1;
}

@-webkit-keyframes Animationfondoformulario {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Animationfondoformulario {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Animationfondoformulario {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 51%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*Sombreado Footer*/
.footer--contacto {
  box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/*Imagen Card Formulario*/
.imagen--cardformulario {
  object-fit: cover;
}

/*# sourceMappingURL=estilos.css.map */
