/*Pagina de Contacto*/

/*Fondo Header Contacto y Animacion*/

.fondo--contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    background: linear-gradient(268deg,#ffc371, #ad2931, #ffc371);
    background-size: 400% 400%;
    -webkit-animation: animationfondoformulario 20s ease-in-out infinite;
    -moz-animation: Animationfondoformulario 20s ease-in-out infinite;
    animation: Animationfondoformulario 20s ease-in-out infinite;
}

nav {
    z-index: 1;
}

@-webkit-keyframes Animationfondoformulario {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Animationfondoformulario {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}

@keyframes Animationfondoformulario {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}

/*Sombreado Footer*/

.footer--contacto {
    box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/*Imagen Card Formulario*/

.imagen--cardformulario {
    object-fit: cover;
}