/*Main Index y Empresas*/

/*Titulo*/

/*Extend*/

h1 {
    @extend .titulos__footer;
}

/*Cards*/

.btn__card {
    background: $color-primario;
    color: $color-secundario;
    font-family: $fuente-principal;
    font-weight: $weight-600;
    transition: background 1s, color 1s ;
    &:hover {
        background: $color-hoverbtn;
        color: $color-secundario;
    }
    
}

.titulos__cards {
    font-family: $fuente-principal;
    font-weight: $weight-600;
}

.texto__cards {
    @extend .texto__footer;
}

.card--box {
    height: 100%;
    background: $color-secundario;
}

.card-img-top {
    height: 220px;
    object-fit: cover;
}

/*Seccion Ayuda*/

.seccion__ayuda {
    background-color: $color-background-seccionayuda;
}

.subtitulos__seccionayuda {
    font-family: $fuente-principal;
    color: $color-subtitulos-seccionayuda;
    font-weight: $weight-400;
}

/*Estilo Botones y Transicion*/

.btn__seccionayuda {
    background: $color-primario;
    color: $color-secundario;
    font-family: $fuente-principal;
    font-weight: $weight-600;
    width: 100%;
    max-width: 350px;
    transition: background 1s, color 1s;
    &:hover {
        background: $color-hoverbtn;
        color: $color-secundario;
    }
}

